{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1 class="text-center mt-5">Bienvenu sur le site de Elite French Touch</h1>

    <p class="text-center mt-4">pour vous connecter: <a href="{{ path('admin') }}">cliquer ici</a></p>
{% endblock %}
